* {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

/*tags*/
body {
  background-color: #F6F1F1;
}

header {
  background-color: black;
  height: 20vh;
  width: 100%;
  border-bottom: 3px solid #DC0000;
}

h1 {
  margin: 50px;
  text-align: center;
  font-family: 'Lobster';
  transition: 500ms;
}

h2 {
  margin-left: 10%;
  font-family: 'Lobster';
  text-align: left;
}

#lanches>div, #jantar>div, #sobremesas>div, #bebidas>div, #jantar >div{
  padding: 20px;
  border: solid 1px lightgray;
  border-radius: 5px;
  -webkit-box-shadow: 22px 41px 39px -34px rgba(0,0,0,0.39);
  -moz-box-shadow: 22px 41px 39px -34px rgba(0,0,0,0.39);
  box-shadow: 22px 41px 39px -34px rgba(0,0,0,0.39);
}


p {
  margin: auto;
  text-align: center;
  width: 80%;
  transition: 500ms;
}

button {
  margin: 10px;
  padding: 10px 20px;
  font-weight: bold;
  border-radius: 5px;
  border: transparent;
  background-color: #DC0000;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
  color: white;
  cursor: pointer;
  transition: 500ms;
}

#btn_entrar{
  font-weight: bold;
  border-radius: 5px;
  background-color: #DC0000;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
  color: white;
  cursor: pointer;
  transition: 500ms;
}

table{
  margin: 10px;
  padding: 10px;
  border: 1px solid lightgray;
  border-radius: 5px;
}

td{
  padding: 10px;
  border: 1px solid lightgray;
  border-radius: 5px;
  width: 30%;
}

#p_lanches>h3 {
  text-align: justify;
}

#p_lanches>p {
  text-align: left;
}

footer>div>div>img{
  margin: 10px;
  height: 40px;
  width: 40px;
  color: black;
  border: 2px solid #F6F1F1;
  border-radius: 20px;
  background-color: #F6F1F1;
  transition: 500ms;
}

footer>a{
  text-decoration: inherit;
  color: #F6F1F1;
}

footer>p, footer>a{
  padding: 5px;
  opacity: 0.8;
  transition: 500ms;
}

footer{
  margin: 0;
  margin-top: 50px;
  height: 250px;
  padding: 20px 0;
  width: 100%;
  background-color: black;
  color: #F6F1F1;
}


/*ids*/
#body-index{
  background-image: url(../img/fundo_cabecalho.jpg);
}

#index-content{
  margin: auto;
  margin-top: 5%;
  margin-bottom: 10%;
  padding: 2%;
  padding-bottom: 6%;
  background-color: #F6F1F1;
  width: 50%;
  height: 70%;
  border: 1px solid lightgray;
  border-radius: 5px;
  box-shadow: 3px 3px 10px black;
  transition: 500ms;
}

#header {
  margin: 20px;
  float: right;
  width: 100%;
}

#cadastro {
  padding: 10px 20px;
  font-weight: bold;
  background-color: transparent;
  color: white;
  border: 2px solid white;
  border-radius: 20px;
  text-decoration: inherit;
  transition: 500ms;
}

#login {
  padding: 10px 20px;
  font-weight: bold;
  background-color: #DC0000;
  color: white;
  border: 2px solid #DC0000;
  border-radius: 20px;
  text-decoration: inherit;
  transition: 500ms;
}

#sair{
  margin: 10px;
  padding: 10px 20px;
  float: right;
  font-weight: bold;
  background-color: #DC0000;
  color: white;
  border: 2px solid #DC0000;
  border-radius: 20px;
  text-decoration: inherit;
  transition: 500ms;
}

#lanches {
  margin: auto;
  padding: 20px;
  width: 80%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  border: 1px solid lightgray;
  border-radius: 5px;
}

#jantar{
  margin: auto;
  padding: 20px;
  width: 80%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  border: 1px solid lightgray;
  border-radius: 5px;
}

#sobremesas{
  margin: auto;
  padding: 20px;
  width: 80%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  border: 1px solid lightgray;
  border-radius: 5px;
}

#bebidas{
  margin: auto;
  padding: 20px;
  width: 80%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  border: 1px solid lightgray;
  border-radius: 5px;
}

#cabecalho{
  background-color: lightgray;
}

#p_lanches {
  display: none;
  margin: auto;
  margin-bottom: 10px;
  width: 80%;
  transition: 250ms;
}

#footer {
  margin: auto;
  margin-top: 30px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

/*classes*/
.head{
  margin: auto;
  margin-top: 2vh;
  margin-left: 5vh;
  height: 10vh;
  float: left;
}

.btns{
  float: right;
}

.lanches_img {
  width: 150px;
  height: 150px;
  transition: 250ms;
}

.p_lanches {
  text-align: left;
  display: none;
}

.footer_img{
  width: 20%;
}

.categoria{
  background-color: #DC0000;
  color: #F6F1F1;
}

/*pseudoclasses*/
#cadastro:hover {
  background-color: white;
  font-size: 15px;
  color: black;
  transition: 500ms;
}

#login:hover {
  background-color: transparent;
  font-size: 15px;
  color: #DC0000;
  transition: 500ms;
}

#sair:hover {
  background-color: transparent;
  font-size: 15px;
  color: #DC0000;
  transition: 500ms;
}

#index-content:hover{
  padding: 3%;
  padding-bottom: 7%;
  width: 51%;
  transition: 500ms;
}

#index-content > h1:hover{
  font-size: 33px;
  transition: 500ms;
}

#index-content > p:hover{
  font-size: 17px;
  transition: 500ms;
}

#lanches>div:hover, #jantar>div:hover, #sobremesas>div:hover, #bebidas>div:hover {
  background: linear-gradient(to bottom, lightgray, transparent);
}

#p_lanches:hover{
  -webkit-box-shadow: 28px 36px 76px -40px rgba(0,0,0,0.3);
  -moz-box-shadow: 28px 36px 76px -40px rgba(0,0,0,0.3);
  box-shadow: 28px 36px 76px -40px rgba(0,0,0,0.3);
  transition: 250ms;
}

.lanches_img:hover {
  filter: brightness(70%);
  height: 155px;
  width: 155px;
  transition: 250ms;
}

td:hover{
  border: 1px solid #DC0000;
}

button:hover {
  border: 1px solid #850000;
  background-color: transparent;
  font-size: 14px;
  color: #850000;
  transition: 500ms;
}

footer > div > div > img:hover{
  cursor: pointer;
  background-color: #DC0000;
  border: 2px solid #850000;
  transition: 500ms;
}

footer>p:hover, footer>a:hover{
  opacity: 0.9;
  font-weight: bold;
  transition: 500ms;
}